{% extends 'base.html' %}

{% block content %}
<p><em> (C) Marc BUFFAT, département Mécanique, UCB Lyon 1 </em>
	<a href="https://perso.univ-lyon1.fr/marc.buffat/COURS/BOOK_VALIDATION_HTML/intro.html">Jupyter-book: gestion de cours avec Jupyter</a>
</p>

<h1> Serveur  {{host}}</h1>
<ul>
	<li>Nombre de coeurs: <b>{{ cpu }}</b>  mémoire: <b>{{ memory }}</b></li>
	<li>Limitation par utilisateur: <b>{{limit}}</b></li>
</ul>
<h2> Jupyterhub</h2>

{{ jupyterhub }}

<h2> Jupyter</h2>

{{ jupyter }}

<h2> Nbgrader </h2>

{{ nbgrader }}

<h2> Configuration Python </h2> 

<h3> Python interpréteur</h3>

<ul>
	<li> systeme: {{ pyexe }}</li>
	<li> session: {{ python3 }}</li>
</ul>

<h3> Liste des packages python</h3>
<span style="white-space: pre-line">
{{ pip }}
</span>


<h2>variables de session</h2>

{{ ses }}

<h3> système path </h3>

{{ syspath }}

<h3> système env </h3>

{{ osenv }}

<h3> python path </h3>

{{ pypath }}

<h3> python env </h3>

{{ pyenv }}

<h3> shell export</h3>

{{ export }}

<h3> shell working dir</h3>

{{ pwd }}

{% endblock %}
