{% extends 'base.html' %}

{% block content %}
<h1> Serveur  {{host}}</h1>
<ul>
	<li>Nombre de coeurs: <b>{{ cpu }}</b>  mémoire: <b>{{ memory }}</b></li>
	<li>Limitation par utilisateur: <b>{{limit}}</b></li>
</ul>

<h2> Version de l'interpréteur Python</h3>

<ul>
	<li> Python:  {{ python }}</li>
</ul>

<h2> Liste et version des bliothèques Python installées</h3>
<span style="white-space: pre-line">
{{ pip }}
</span>

{% endblock %}
