{% extends 'base.html' %}

{% block content %}
<h1> Gestion du cours {{ cours}} </h1> 

<h2>Inscription des étudiants au cours</h2>

{% if cours_open %}
<p style="color:red"><strong>Cours ouvert à tous les étudiants de l'université. aucun fichier etudiants.txt</strong></p>

<i>Pour limiter l'accès des étudiants au cours, il faut remplir le fichier <b>etudiants.txt</b> avec la liste des numéros d'étudiants du cours (à partir de TOMUSS),
	puis cliquer sur <b>Valider la liste</b>.</i><br>

{% else %}

<p style="color:red"><strong>Cours ouvert uniquement aux étudiants contenus dans le fichier etudiants.txt </strong></p>

<i>Si on modifie le fichier, cliquez à nouveau sur <b>Valider la liste</b>. Si on veut ouvrir le cours à tous les étudiants, cliquez sur <b>Supprimer la liste</b>.</i><br>

{% endif %}

<div id="content1">
<ul>
	<li>création du fichier des étudiants (numéro étudiant) inscrits au cours : 
		<div style="text-align:center">
			<a href="{{url_for('edit',fichier='etudiants.txt')}}" target=newtab>
				<button type="button" style="width:150px;background-color:#66FF99;">Liste des étudiants</button>
			</a>
		</div>
	</li>
	<li><b>Valider la liste</b> pour autoriser un accès limité aux étudiants inscrits ou <b>Supprimer la liste</b> pour un accès à tous les étudiants de l'université
	<div style="text-align:center">
		<a href="{{url_for('config_auto')}}">
		<button type="button" style="width:150px;background-color:#66FF99;" onclick="loading1();">Valider la liste</button>
		</a>
		ou 
		<a href="{{url_for('reset_acl')}}">
		<button type="button" style="width:150px">Supprimer la liste</button>
		</a>
	</div>
	</li>
	<li>liste des étudiants inscrits dans la Base de Données Nbgrader (i.e. ayant soumis au moins un TP):
		<div style="text-align:center">
			<a href="{{url_for('list_db')}}" >
				<button type="button" style="width:150px">Etudiants déjà inscrits</button>
			</a>
		</div>
	</li>
</ul>
</div>

<h2>Sélection d'un TP pour analyse des rendus étudiants</h2>
Sélectionnez un des TP de la liste pour faire sa validation et analyser les résultats 
<ol>
{% for TP in TP_list %}
<li>TP: <a href="{{ url_for('set_tp',tp = TP) }}">{{ TP }}</a></li>
<ul>
<li>Fichier de configuration: 
	<a href="https://{{ request.host }}/services/{{ cours }}/lab/tree/source/{{ TP }}.cfg" target=newtab>{{ TP }}.cfg</a> 
</li>
</ul>
{% endfor %}
</ol>

<h2>Sélection d'un TP virtuel (streamlit)</h2>
Sélectionnez un des TP virtuels de la liste pour sa gestion 
<ul>
{% for TP in TP_virt %}
<li><a href="{{ url_for('tpvirt',tp = TP) }}">{{ TP }}</a></li>
{% endfor %}
</ul>

<h2>Purge les étudiants du cours (efface étudiants et résultats)</h2>
<div id="loading2"> <b> SVP Attendre la fin du traitement</b> </div>
<div id="content">
<ol>
	<li>purge des étudiants (faire une sauvegarde avant si nécessaire): <a href="{{url_for('purge')}}">
			<div style="text-align:center"><button type="button" style="width:150px" onclick="loading2();" >purge</button></div></a>
	</li>
	<li> sauvegarde: création d'une archive compressée: <a href="{{url_for('archivage')}}">
			<div style="text-align:center"><button type="button" style="width:150px" onclick="loading2();" >archivage</button></div></a>
	</li>
</ol></div>

{% if interpro %}
<h2>Release du TP</h2>
Sélectionnez un des TP de la liste pour le mettre à disposition des étudiants (nbgrader release), pour
tous les groupes associés au cours (attention peut être long !!)
<ul>
{% for TP in TP_list %}
<li><a href="{{ url_for('release_tp',tp = TP) }}">{{ TP }}</a></li>
{% endfor %}
</ul>

<h2>UnRelease du TP</h2>
Sélectionnez un des TP de la liste pour ne plus le mettre à disposition des étudiants pour
tous les groupes associés au cours
<ul>
{% for TP in TP_list %}
<li><a href="{{ url_for('unrelease_tp',tp = TP) }}">{{ TP }}</a></li>
{% endfor %}
</ul>

<h2>Gestion (fine) de la liste des étudiants du cours à évaluer</h2>
<div id="loading"> <b> SVP Attendre la fin du traitement</b> </div>
<div id="content">
<ul>
	<li><b>création à partir de liste des étudiants inscrits:</b> <a href="{{url_for('add_etudiants')}}">
			<div style="text-align:center"><button type="button" style="width:150px" onclick="loading();" >liste étudiant</button></div>
		</a></li>
	<li>affiche la liste des étudiants ayant soumis au moins un notebook: <a href="{{url_for('list_users')}}">
			<div style="text-align:center"><button type="button" style="width:150px">submitted</button></div>
		</a></li>
	<li>affiche la liste des étudiants dans la base de données nbgrader:<a href="{{url_for('list_db')}}" >
			<div style="text-align:center"><button type="button" style="width:150px">nbgrader</button></div>
		</a></li>
</ul>
</div>

<h2>Gestion des droits des étudiants</h2>
<ul>
	<li>autorisation uniquement pour les étudiants inscrits: <a href="{{url_for('set_acl')}}">
			<div style="text-align:center"><button type="button" style="width:150px">set acl</button></div></a>
	</li>
	<li>autorisation pour tous les étudiants: <a href="{{url_for('reset_acl')}}">
			<div style="text-align:center"><button type="button" style="width:150px">reset acl</button></div></a>
	</li>
</ul>

<h2>Archivage des validations </h2>
<h3> liste des archives</h3>
<ul>
{% for tar in TAR_list %}
<li>{{ tar }}</li>
{% endfor %}
</ul>


<h3>Configuration du cours (mise à jour journalière)</h3>
<ul>
<li>fichier de configuration du cours: 
	<a href="https://{{ request.host }}/services/{{ cours }}/lab/tree/hub_config.py" target=newtab>hub_config.py</a> 
</li>
</ul>

{% endif %}

<h2>équipe pédagogique</h2>
<ul>
{% for user in admin %}
<li>{{ user }}</li>
{% endfor %}
</ul>

{% endblock %}

{% block scripts %}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
<script type="text/javascript">// <![CDATA[
        function loading1(){
            $("#loading1").show();
            $("#content1").hide();
        }
// ]]></script>
<script type="text/javascript">// <![CDATA[
        function loading2(){
            $("#loading2").show();
            $("#content2").hide();
        }
// ]]></script>
{{super()}}
{% endblock %}

