{% extends 'base.html' %}
{% block title %} Liste des Cours  {% endblock %}

{% block content %}
<h1> Gestion des cours </h1>

<a href="{{url_for('change_interpro')}}">
{% if interpro %}
	<div style="text-align:center">
				<button type="button" style="" >interface simple</button>
</div>
{% else %}
	<div style="text-align:center">
				<button type="button" style="" >interface détaillée</button>
</div>
{% endif %}
</a>

<h2> Accès au cours sous Jupyter nbgrader</h2>
<ul>
Sélectionner un cours dans la liste suivante pour accéder au cours (version enseignant)
<div id="bloc-page">
{% for c in listcours %}
<li STYLE="padding:0 0 0 5px;"><b>{{ c }}</b> interface <a href="https://{{ request.host }}/services/{{c}}/lab?">lab </a>
<a href="https://{{ request.host }}/services/{{c}}/tree?"> (ou classique)</a>
</li>
{% endfor %}
</div>
</ul>

<h2>Gestion/Validation du cours</h2>
<ul>
Sélectionner un cours dans la liste suivante pour sa gestion/validation
{% for c in listcours %}
         <li> <a href="{{ url_for('set_cours',cours = c) }}">{{ c }}</a> </li>
{% endfor %}
</ul>

{% endblock %}
