{% extends 'base.html' %}

{% block content %}
<h2 style="color:red">Log des commandes</h2>

<!-- for output log -->
<pre id="output"></pre>
<script>
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();

    setInterval(function() {
        output.textContent = xhr.responseText;
    }, 1000);
</script>

{% endblock %}

