{% extends 'base.html' %}

{% block content %}
<h1>script dans le cours {{ cours }}</h1>

<p style="color:red">Cliquez sur 
<a href="{{url_for('get_tp')}}"><b>TP</b></a> ou 
<a href="{{url_for('get_cours')}}"><b>Cours</b></a> 
pour revenir à la page précédente.</p>

<div>
	<h2>{{ run_script }}</h2>
	{% for line in res_script.split('\n') %}
	{{ line | safe }}<br>
	{% endfor %}
</div>

{% endblock %}

