{% extends 'base.html' %}

{% block content %}

<h1> Serveurs Jupyter sur {{host}}</h1>

<table id="servers" type="table" style="width:70%; border:1">
  <thead>
  <tr>
	  <th>User</th> <th>Server</th> <th>Last activity</th> <th>Action<th>
  </tr>
  </thead>

  <tbody>
  {% for nom in servers %}
  <tr>
	<td><b>{{ nom }}</b> </td>
	<td><a href="https://{{host}}{{servers[nom][0]}}tree/?token=X8m5h64J8q">{{ servers[nom][0] }}</a></td>
	<td> {{ servers[nom][1] }}</td>
	<td> <a href="{{ url_for('stop_server', server=nom) }}">
			<button type="button" style="width:100px;background-color:#FF0000;">stop serveur</button>
	</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
