{% extends 'base.html' %}

{% block content %}
<h1>Status des serveurs</h1>
<h2>Serveurs JupyterHub Nbgrader </h2>
{% for host in hosts %}
<h3> Serveur  <a href="https://{{host}}">{{host}}</a></h3>
 <ul>
	 {% if status[host] is not none %}
	 <li>Serveur uptime: <b>{{status[host]['ServerUptime']}}</b> </li>
	 <li>Limite/utilisateur: <b>{{status[host]['Limite']}}</b> </li>
	 <li>CPU: <b>{{status[host]['CPUcores']}}</b>    Load5: <b>{{status[host]['Load5']}}%</b>     Memory: <b>{{status[host]['Memory']}}</b> </li>
	 <li>Nombre d'utilisateurs actifs: <b>{{status[host]['Users']}} </b></li>
	 {% else %}
	 <li><b>Serveur is down and not responding</b></li>
	 {% endif %}
 </ul>
{% if status[host]['Gpustat'] is not none %}
<h3> Utilisation du GPU </h3>

<pre style="color:black;font-size:14px;">
 {{  status[host]['Gpustat'] }}
</pre>
{% endif %}
{% if status[host]['Gpurun'] is not none %}
<h3> Job soumis (running) utilisant le GPU </h3>

<pre style="color:black;font-size:14px;">
 {{  status[host]['Gpurun'] }}
</pre>
{% endif %}

{% endfor %}


<h2>Visualisation avec GRAFANA (reseau local)</h2>
<ul>
	<li><a href="http://hermes.cisr.fr:3000/d/9Aw4DCD7z/nbgraders-vue-globale?orgId=1&refresh=1m">Vue globale nbgraders</a></li>
</ul>

<h2>Equipe administrative</h2>
{% for user in admins %}
<li style="display:inline-block; margin: 0 50 px;">{{ user }}</li>
{% endfor %}

{% endblock %}
