{% extends 'base.html' %}

{% block content %}

<h1> Etudiants du cours {{cours}} sur {{host}}</h1>

<table id="servers" type="table" style="width:70%; border:1">
  <thead>
  <tr>
	  <th>User</th> <th>Nom</th> <th>Server</th>  <th>Action<th>
  </tr>
  </thead>

  <tbody>
  {% for nom in students %}
  <tr>
	<td><b>{{ nom }}</b> </td>
	<td> {{ students[nom] }}</td>
	<td><a href="https://{{host}}/user/{{nom}}/tree/?token=X8m5h64J8q">/user/{{nom}}</a></td>
	<td> <a href="{{ url_for('stop_server', server=nom) }}">
			<button type="button" style="width:100px;background-color:#FF0000;">stop serveur</button>
	</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
