{% extends 'base.html' %}

{% block content %}
<h1>Gestion du TP {{ tp }} dans {{ cours}} </h1> 

<h2>Validation du TP</h2>
<b>ATTENTION:</b> le traitement doit etre fait dans l'ordre et peut être long car fonction du nombre d'étudiants. Une fois lancé, il faut absolument attendre la fin du script et l'affichage du résultat.
<ol>
{% if '_backup' not in tp %}
    <div id="loading1"> <b> SVP Attendre la fin du traitement</b> </div>
    <div id="content1">
    <li> collecte des TP avec nbgrader (à faire au moins une fois)
        <a href="{{url_for('collect')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px;background-color:#66FF99;" onclick="loading1();">Collecte TP</button>
			</div></a>
    </li>
    <li> analyse avec ou sans validation automatique (nbgrader) des notebooks:
	<div style="text-align:center">
        <a href="{{url_for('valide_auto',mode='autograde')}}">
				<button type="button" style="width:150px;background-color:#66FF99;" onclick="loading1();">Analyse+Autograde</button>
			</a>
	ou 
        <a href="{{url_for('valide_auto',mode='collecte')}}">
				<button type="button" style="width:150px;background-color:#66FF99;" onclick="loading1();">Analyse Seule</button>
			</a>
	</div>

    </li>
    visualisation des logs de l'étape 2: 

	 <div style="text-align:center">
		 <a href="{{url_for('content', file=fichierlog) }}">
		   <button type="button" style="width:150px;background-color:#66FF99;">Log Bilan</button>
		   </a> 
	</div>


    <li> validation manuelle nbgrader (refaire ensuite étape 2 sans autograde):
	<a href="https://{{ request.host }}/services/{{ cours }}/formgrader/gradebook/{{tp}}">
		<div style="text-align:center">
			<button type="button" style="width:150px" onclick="loading1();">ManuelGrader</button>
	        </div></a>
    </li>
{% if interpro %}
    <li>calcul du bilan (notes/similitude) pour tous les groupes de TP (pour le cours uniquement): 
	<a href="{{url_for('bilan_GrpTP')}}">
		<div style="text-align:center">
			<button type="button" style="width:150px" onclick="loading1();">Bilan GrpTP</button>
		</div></a>
   </li>
{% endif %}
 </div>
{% endif %}

 <li> affiche le résultat du bilan de l'analyse (plagiat) et de la validation (version html): 
	 <div style="text-align:center">
		 <a href="{{basedir}}/{{ cours }}/validation/bilan_{{ tp }}.html">
		   <button type="button" style="width:150px;background-color:#66FF99;">Bilan TP</button>
		 </a> 
	</div>
 </li>
</ol>

{% if interpro %}
{% if '_backup' not in tp %}
<h3>sauvegarde TP (nomTP_backup)</h3>
<ul>
 <li> sauvegarde evaluation du TP:
		<a href="{{url_for('save_validation')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px">Sauvegarde TP</button>
			</div></a>
 </li>
</ul>
{% endif %}
{% endif %}

<h2> Notation du TP</h2>
<h3> Notation automatique des étudiants</h3>
<ol>
	<li> <strong>visualisation des notes (automatiques):  <a href="{{ url_for('notes', file = fichier) }}">{{ fichier }}</a></strong></li>
	<li> exportation tomuss des notes (notation automatique): 
		<div style="text-align:center"> 
			<button type="button" style="width:150px;background-color:#66FF99"> 
				<a href="{{ url_for('tomuss', file = fichier) }}">Tomuss notes auto</a>
			</button>
		</div>
	</li>
	<li> <strong>(option si #groupes) visualisation des similitudes entre groupes: <a href="{{ url_for('notes', file = fichier2) }}">{{ fichier2 }}</a></strong></li>
</ol>

<h3> Notation automatique+manuelle des étudiants (fichiers csv/xml)</h3>
<strong>attention</strong> après l'étape 2 de  modification des notes, refaire une mise à jour ou effacer le fichier csv en cas d'erreur.
<ol>
    <li><strong>création, mise à jour et visualisation du bilan de notes:  <a href="{{ url_for('notes', file = fichier1) }}">{{ fichier1 }}</a></strong></li>
    <li><strong>modification des notes manuelles et des commentaires:  
    <a href="https://{{ request.host }}/services/{{ cours }}/lab/tree/validation/{{ fichier1 }}" target=newtab>{{ fichier1 }}</a>
    </strong></li>
    <li>exportation tomuss du bilan (notes ou commentaires) ou liens html
        <div style="text-align:center"> 
        	<a href="{{ url_for('tomuss', file = fichier1) }}">
        	<button type="button" style="width:150px">Tomuss notes </button>
		</a>
	ou
	        <a href="{{ url_for('tomuss_comment', file = fichier1) }}">
        	<button type="button" style="width:150px">Tomuss comments </button>
		</a>
	</div>
    <ul>
    <li><strong>lien html vers le fichier csv: <a href="https://{{ request.host }}/cours_html/{{ cours }}/{{ tp }}.csv">
			    https://{{ request.host }}/cours_html/{{ cours }}/{{ tp }}.csv </a></strong></li>
    <li><strong>lien html vers le fichier xml: <a href="https://{{ request.host }}/cours_html/{{ cours }}/{{ tp }}.xml">
			    https://{{ request.host }}/cours_html/{{ cours }}/{{ tp }}.xml </a></strong></li>
    </ul>
    </li>
</ol>

<h2>Fichiers générés par l'évaluation</h2>
<h3>répertoire validation du cours (jupyterlab): 
	<a href="https://{{ request.host }}/services/{{ cours }}/lab/workspaces/auto-b/tree/validation" target=newtab>{{ cours }}/validation (dir)</a>
</h3>

{% if interpro %}
<h2>Génération détaillée de l'évaluation</h2>
A effectuer dans l'ordre par défaut
<div id="loading"> <b> SVP Attendre la fin du traitement</b> </div>
<div id="content">
<h3>génération de la liste des étudiants</h3>
<b>ATTENTION:</b> remplace la liste courante et ajout dans la base de données nbgrader
<ul>
    <li> création à partir des étudiants inscrits
	    <a href="{{ url_for('add_etudiants_tp', TP=tp) }}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();">liste étudiant</button>
			</div></a>
     </li>
    <li> création à partir des notebooks soumis 
        <a href="{{url_for('add_notebooks')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();">liste notebook</button>
			</div></a>
     </li>
</ul>

<h3>génération du bilan d'évaluation</h3>
<b>ATTENTION:</b> le traitement peut être long car fonction du nombre d'étudiants. Une fois lancé, il faut absolument attendre la fin du script et l'affichage du résultat.
<ul>
   <li>version sans autograde (attention long): 
		<a href="{{url_for('bilanTP')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();"> bilanTP</button>
			</div></a>
   </li>
   <li> version avec autograde (attention tres long!): 
		<a href="{{url_for('bilanTPautograde')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();"> + autograde</button>
			</div></a>
   </li>
   <li>version avec sortie pdf (attention très long !!): 
		<a href="{{url_for('bilanTPpdf')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();"> + pdf</button>
			</div></a>
   </li>
   <li>version avec sortie pandoc pdf (attention très long !!): 
		<a href="{{url_for('bilanTPpandoc')}}">
			<div style="text-align:center">
				<button type="button" style="width:150px" onclick="loading();"> + pandoc</button>
			</div></a>
   </li>
</ul>

</div>

{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]></script>
<script type="text/javascript">// <![CDATA[
        function loading1(){
            $("#loading1").show();
            $("#content1").hide();
        }
// ]]></script>

{{super()}}
{% endblock %}


