{% extends 'base.html' %}

{% block content %}
<h1>TP virtuel {{ tp }} dans {{ cours}} </h1> 

<h2>Gestion du TP virtuel avec GESTION_cours</h2>

<strong>attention</strong> avec ce système, les TP virtuels sont arrétés chaque fois que le serveur apache est arrrété ! <br>
Mais ils sont ensuite normalement redémarrés automatiquement lorsque le serveur flask redémarre.<br>

<ul>
<li> <b>Etat du TP: </b>       
        <div style="text-align:center">
        	<button type="button" style="width:150px">
		<a href="{{url_for('status_tpvirt',tp=tp)}}"> status TP </a>
		</button>
	</div>
</li>
<li> <b>Lancement du TP: </b> (attendre au moins 2s pour le démarrage)
        <div style="text-align:center">
        	<button type="button" style="width:150px">
		<a href="{{url_for('start_tpvirt',tp=tp)}}"> start TP </a>
		</button>
	</div>
</li>
<li> <b>Arret du TP: </b>
        <div style="text-align:center">
        	<button type="button" style="width:150px">
		<a href="{{url_for('stop_tpvirt',tp=tp)}}"> stop TP </a>
		</button>
	</div>
</ul>


{{super()}}
{% endblock %}

